* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #c28f32;
  --secondary-color: #f8f8f8;
  --text-color: #333;
  --font-family: "Murecho", sans-serif;
}

/* .murecho-font {
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

header {
    /* background-color: #f8f8f8; */
    background-repeat: no-repeat;
    background-size: cover; 
    position: fixed;
    padding: 20px;
    text-align: center;
    z-index: 999;
}


h1 {
    font-size: 2.5em;
    color: #333;

    margin-bottom: 10px;

}
h2 {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 1.2em;
    color: #777;
    margin-bottom: 20px;
}

.car-image {
    width: 30%;
    max-width: 400px;
    height: auto;
    margin-top: 20px;
    margin: 0 auto /* 画像を中央に配置 */;
    display: block; /* 画像をブロック要素にして中央に配置 */
}

body {
    background-image: url("images/bg.jpg"); 
    /* background-color: #f8f8f8; */
    color: #333;
    line-height: 1.6;
}

section {
    /* background-color: #c28f32; */
    padding: 20px;
    text-align: center;
}

.main {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    text-align: center;
}   

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card { 
max-width: 450px;
height: 400px;
margin: 0 20px;
background-color: #fff;
text-align: left;
}

.card2 { 
max-width: 700px;
height: 400px;
/* margin: 0 20px; */
background-color: #fff;
text-align: left;
margin: 0 auto; /* カードを中央に配置 */
}

dd {
  position: relative;
  padding-left: 28px; /* アイコンの幅に合わせて調整 */
}

dd::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px; /* 垂直位置の微調整 */
  width: 20px;   /* アイコンの表示サイズ */
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-dl1 dd::before{
    background-image: url("images/face1.svg"); /* ← ここに画像パス */
 }

 .icon-dl2 dd::before{
    background-image: url("images/face2.svg"); /* ← ここに画像パス */
 }

 .footer {
  /* background-color: #fc58cb; */
  display: flex;
  flex-direction: column; /* 縦並び */
  align-items: center; 
  /* margin: 0 auto; */
}

.yokota-image {
    width: 300px;
    height: auto;
}

address {
  text-align: right; /* PCでもスマホでも右揃え */
  margin-top: 12px;
}


/* PC：横並びに変更（768px以上） */
@media (min-width: 768px) {
  .footer {
    flex-direction: row; /* 横並び */
    align-items: center;
    justify-content: center; /* 中央寄せ */
  }
  .yokota-image {
    order: 2; /* 写真を右に配置 */
}

  address {
    margin: 0 16px 0 0; /* 写真との間隔 */
    text-align: right;
    order: 1;
  }
}
