* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --primary-color: #c28f32;
  --secondary-color: #f8f8f8;
  --text-color: #333;
  --strong-color: #bb450e;
  --font-family: "Murecho", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("images/bg.jpg"); 
  background-size: cover;
  background-position: center;
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: 1.6;
  /* font-family: "Murecho", sans-serif; */
  font-size: clamp(1.4rem, 4vw, 1.6rem);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* .murecho-font {
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

    /* background-color: #f8f8f8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; */
    /* margin: 0 auto;     */
    /* padding: 20px; */
    /* text-align: center;
    z-index: 999;  */
/* } */

/* .header-content { */
header {
    background-color: #f8f8f8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* width: clamp(100%, 600px, 100%); */
    height: 150px;
    text-align: center;
    z-index: 999; 

    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, minmax(450px, 1fr));
    /* gap: 16px; */
    margin: 0 auto;    
}   

h1 {
    font-size: clamp(3rem, 4vw, 4.6rem);
    color: #333;
    /* margin-bottom: 10px; */
    text-align: center;
}

h2 {
    font-size: clamp(1.6rem, 3vw, 2.3rem);
    color: #555;
    text-align: center;
}

h3 {
    font-size: clamp(1.4rem, 2.5vw, 2.3rem);
    color: var(--secondary-color);
    text-align: center;
}

h4 {
    font-size: clamp(1.6rem, 3vw, 2.3rem);
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

.tel-btn {
    padding: 10px 50px;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
}

.strong {
    color: var(--strong-color);
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}   

.car-image {
    width: 40%;
    max-width: 400px;
    height: auto;
    margin: 0 auto /* 画像を中央に配置 */;
    display: block; /* 画像をブロック要素にして中央に配置 */
}

main {
    display: block;
    padding-top: 160px;
    text-align: center;
    /* margin-top: 10px; */
}   

section {
    background-color: rgba(255, 255, 255, 0.5);
    /* padding: 20px; */
    text-align: center;
}


.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* width: 600px; */
}

.card { 
    max-width: 450px;
    height: 400px;
    margin: 0 5px;
    background-color: #ffffffe7;
    text-align: left;
    padding: 20px; 
    border: 6px double #312f2a3d; 
    flex: 1 1 400px; /* カードの幅を柔軟に調整 */
}

.card.two { 
    max-width: 900px;
    height: 400px;
    background-color: #fff;
    margin: 0 auto; /* カードを中央に配置 */
    padding: 30px;
}

dd {
  position: relative;
  padding-left: 28px; /* アイコンの幅に合わせて調整 */
}

dd::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px; /* 垂直位置の微調整 */
  width: 20px;   /* アイコンの表示サイズ */
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-dl1 dd::before{
    background-image: url("images/face1.svg"); /* ← ここに画像パス */
 }

 .icon-dl2 dd::before{
    background-image: url("images/face2.svg"); /* ← ここに画像パス */
 }

 footer {
  /* background-color: #fc58cb; */
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin: 0 auto;
}

.yokota-image {
    width: 300px;
    height: auto;
}
address {
  text-align: right; /* PCでもスマホでも右揃え */
  margin-top: 12px;
}
.copyright {
  text-align: center;
  margin-top: 12px;
}

/* PC：横並びに変更（768px以上） */
@media (min-width: 768px) {
  header {
    flex-direction: row; /* 横並び */
    align-items: center;
    justify-content: space-around; /* タイトルと連絡先を両端に配置 */
    height: 100px;

  }
  main {
    padding-top: 110px;
  }   
  footer {
    flex-direction: row; /* 横並び */
    align-items: center;
    justify-content: center;
  }
  address {
    margin: 0 16px 0 0; /* 写真との間隔 */
    text-align: right;
    order: 1;
  }
  .yokota-image {
    order: 2; /* 写真を右に配置 */
  }

}
